body {
  font-family: Trirong, serif;
 	margin: 0;
 }
 body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /*background: var(--color-darkblue);*/
  background-image: linear-gradient(
      115deg,
      rgb(201, 150, 204, 0.7),
      rgb(145, 107, 191, 0.5)
    ),
    url(../img/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
	text-align: center;

}
.header .title {
	font-family: Old Standard TT;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
	color: #000000;
	margin-bottom: 5px;
	padding-top: 50px;
	color: white;
}
.header .description {
	font-family: Old Standard TT;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: white;
}
.container {
	max-width: 720px;
	margin: 0 auto;
}
form {
	padding-top: 20px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
	background-color: #916BBF;
	/*background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);*/
	border-radius: 5px;
	opacity: 0.9;
}
.form_group {
	margin-bottom: 20px;
}
p {
	margin-bottom: 20px;
}
label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
input,
select,
button,
textarea {
	margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-clip: padding-box;
  margin-right: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}
select,
textarea {
	display: block;
  width: 100%;
  height: 2.375rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea {
	min-height: 120px;
	padding-top: 10px;
}
.input {
	display: block;
  width: 100%;
  height: 2.375rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: 1.15em;
  letter-spacing: 3px;
  background-color: #1C0C5B;
}
@media (max-width: 800px) {
.container {
  max-width: 640px;
}
}
@media (max-width: 800px) {
.container {
  max-width: 640px;
}
}
@media (max-width: 700px) {
.container {
  max-width: 540px;
}
}
@media (max-width: 600px) {
.container {
  max-width: 440px;
}
}
@media (max-width: 460px) {
.container {
  max-width: 360px;
}
}